* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}

.outer-container {
  border: 3px dashed black;
  position: relative;
  width: 75vw;
  /* similar to 75% but doesn't take into account the scrollbar */
  /* vh, vw = viewport height, viewport width including scrollbar */
  height: 85vh;
  margin: 40px auto;
  background-color: lightgrey;
}

.inner-container {
  border: 2px dashed blue;
  width: 40vw;
  height: 50vh;
  margin: 170px auto;
  /* relativeの位置によってabsoluteの位置が決まる
  position: relative; */
}

.box {
  width: 150px;
  height: 150px;
  color: white;
}

.absolute {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 20px;
  right: 20px; */
}

.relative {
  background-color: red;
  position: relative;
  top: 20px;
  left: 20px;
}

.fixed {
  background-color: green;
  position: fixed;
  top: 50px;
  left: 20px;
}

.sticky {
  background-color: orange;
  position: sticky;
  top: 0;
  left: 20px;
}
