* {
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: #7be0ad;
  color: #bd2d87;
}
h2 {
  border: dashed 2px #19647e;
}

body {
  background-color: #afb3f7;
  color: #37392e;
  margin: 1.1rem;
}

.outerdiv {
  border: 2px solid #19647e;
  padding: 1.1rem;
}
.innerdiv {
  margin: 1.1rem;
  border: 2px solid #19647e;
  font-size: 1.1rem;
  padding: 1.1rem;
}
