* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
}

.outer-container {
  border: 3px dashed black;
  position: relative;
  width: 75vw;
  /* similar to 75% but doesn't take into account the scrollbar */
  /* vh, vw = viewport height, viewport width including scrollbar */
  height: 85vh;
  margin: 40px auto;
  background-color: lightgrey;
}

.inner-container {
  border: 2px dashed blue;
  width: 40vw;
  height: 50vh;
  margin: 170px auto;
}
