/*basically order matter, but id > class > element */
/* element selector */

p {
  color: #64a6bd;
}

body {
  font-size: 22px;
  font-family: monospace;
}
/* multiple element selector */
h1,
h2 {
  color: blue;
}

/*nested element selector */
div p {
  color: #90a8c3;
}

/* class selector */
.red {
  color: red;
}

.highlight {
  background-color: yellow;
  color: red;
  text-transform: uppercase;
}

/* id selector */
#purple {
  color: #d7b9d5;
}

/* universal selector DON'T USE IT*/
/* * {
  font-family: monospace;
} */
